In [8]:
import xml.etree.ElementTree as ET
import pandas as pd
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
# Load the XML file
tree = ET.parse('3.xml')
root = tree.getroot()

# Initialize an empty list to store the extracted data
data = []

# Iterate through all TRX_Sale elements
for trx_sale in root.findall(".//TRX_Sale"):
    order_element = trx_sale.find(".//Order")
    
    if order_element is not None:
        order_attributes = order_element.attrib
        data.append(order_attributes)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(data)

# Display the DataFrame
display(df)

,Timestamp,uniqueId,kind,key,major,minor,side,receiptNumber,fpReceiptNumber,fpFiscalReceiptNumber,booth,saleType,totalAmount,nonProductAmount,totalTax,nonProductTax,orderSrc,startSaleDate,startSaleTime,endSaleDate,endSaleTime,totalTaxableAmount,totalChargedTaxAmount
0,20221203042342891,1ln8nw5c6j,Sale,POS0002:354760807,35403,0,M-S1 CBCS1 RTM-S1,03,0,0,0,EatIn,1.700,0.000,0.155,0.000,0,20221203,042342,20221203,042513,1.700,0.155
1,20221203042529214,1ln8nw5c6k,Sale,POS0002:354760808,35404,0,,04,0,0,0,TakeOut,0.000,0.000,0.000,0.000,0,20221203,042529,20221203,042541,0.000,0.000
2,20221203042557605,1ln8nw5c6l,Sale,POS0002:354760809,35405,0,M-S1 CBCS1 RTM-S1,05,0,0,0,EatIn,1.700,0.00,0.155,0.00,0,20221203,042557,20221203,042714,1.700,0.155
3,20221203042722621,1ln8nw5c6m,Sale,POS0002:354760810,35406,0,M-S1 CBCS1,06,0,0,0,EatIn,2.500,0.00,0.228,0.00,0,20221203,042722,20221203,043049,1.800,0.164
4,2022120304374630,1ln8nw5c6n,Sale,POS0002:354760811,35407,0,M-S1,07,0,0,0,TakeOut,0.700,0.00,0.064,0.00,0,20221203,043746,20221203,043817,0.700,0.064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,20221203201953622,1m0dnmb2px,Sale,POS0027:998525212,35586,0,M-S1 CBCS1,86,0,0,0,TakeOut,3.300,0.00,0.300,0.00,0,20221203,201953,20221203,202100,2.200,0.199
2042,20221203221831972,1m0dnmb2pj,Sale,POS0027:998525213,35630,0,M-S1 CBCS1 RTM-S1,30,0,0,0,EatIn,3.400,0.00,0.310,0.00,0,20221203,221831,20221203,222321,2.300,0.210
2043,20221203222504585,1m0dnmb2pk,Sale,POS0027:998525214,35631,0,M-S1,31,0,0,0,EatIn,1.200,0.00,0.110,0.00,0,20221203,222504,20221203,222614,1.200,0.110
2044,20221203222854180,1m0dnmb2pl,Sale,POS0027:998525215,35635,0,CBCS1,35,0,0,0,EatIn,1.000,0.00,0.091,0.00,0,20221203,222854,20221203,222950,1.000,0.091
2045,20221203230801309,1m0dnmb2pm,Sale,POS0027:998525216,35648,0,M-S1 CBCS1,48,0,0,0,EatIn,2.100,0.00,0.191,0.00,0,20221203,230801,20221203,230909,1.400,0.127

In [10]:
import xml.etree.ElementTree as ET
import pandas as pd
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
# Load the XML file
tree = ET.parse('3.xml')
root = tree.getroot()
# Initialize an empty list to store the extracted data
data = []

# Iterate through all TRX_Sale elements
for trx_sale in root.findall(".//TRX_Sale"):
    order_element = trx_sale.find(".//Order")
    
    if order_element is not None:
        order_attributes = order_element.attrib
        
        custom_info_element = order_element.find(".//CustomInfo")
        if custom_info_element is not None:
            vat_invoice_info = custom_info_element.find("./Info[@name='VATInvoiceNumber']")
            if vat_invoice_info is not None:
                order_attributes['VATInvoiceNumber'] = vat_invoice_info.attrib['value']
        
        data.append(order_attributes)

# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(data)
# Display the DataFrame
display(df)

,Timestamp,uniqueId,kind,key,major,minor,side,receiptNumber,fpReceiptNumber,fpFiscalReceiptNumber,booth,saleType,totalAmount,nonProductAmount,totalTax,nonProductTax,orderSrc,startSaleDate,startSaleTime,endSaleDate,endSaleTime,totalTaxableAmount,totalChargedTaxAmount,VATInvoiceNumber
0,20221203042342891,1ln8nw5c6j,Sale,POS0002:354760807,35403,0,M-S1 CBCS1 RTM-S1,03,0,0,0,EatIn,1.700,0.000,0.155,0.000,0,20221203,042342,20221203,042513,1.700,0.155,70002002221203000001
1,20221203042529214,1ln8nw5c6k,Sale,POS0002:354760808,35404,0,,04,0,0,0,TakeOut,0.000,0.000,0.000,0.000,0,20221203,042529,20221203,042541,0.000,0.000,70002002221203000002
2,20221203042557605,1ln8nw5c6l,Sale,POS0002:354760809,35405,0,M-S1 CBCS1 RTM-S1,05,0,0,0,EatIn,1.700,0.00,0.155,0.00,0,20221203,042557,20221203,042714,1.700,0.155,70002002221203000003
3,20221203042722621,1ln8nw5c6m,Sale,POS0002:354760810,35406,0,M-S1 CBCS1,06,0,0,0,EatIn,2.500,0.00,0.228,0.00,0,20221203,042722,20221203,043049,1.800,0.164,70002002221203000004
4,2022120304374630,1ln8nw5c6n,Sale,POS0002:354760811,35407,0,M-S1,07,0,0,0,TakeOut,0.700,0.00,0.064,0.00,0,20221203,043746,20221203,043817,0.700,0.064,70002002221203000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,20221203201953622,1m0dnmb2px,Sale,POS0027:998525212,35586,0,M-S1 CBCS1,86,0,0,0,TakeOut,3.300,0.00,0.300,0.00,0,20221203,201953,20221203,202100,2.200,0.199,70002027221203000006
2042,20221203221831972,1m0dnmb2pj,Sale,POS0027:998525213,35630,0,M-S1 CBCS1 RTM-S1,30,0,0,0,EatIn,3.400,0.00,0.310,0.00,0,20221203,221831,20221203,222321,2.300,0.210,70002027221203000007
2043,20221203222504585,1m0dnmb2pk,Sale,POS0027:998525214,35631,0,M-S1,31,0,0,0,EatIn,1.200,0.00,0.110,0.00,0,20221203,222504,20221203,222614,1.200,0.110,70002027221203000008
2044,20221203222854180,1m0dnmb2pl,Sale,POS0027:998525215,35635,0,CBCS1,35,0,0,0,EatIn,1.000,0.00,0.091,0.00,0,20221203,222854,20221203,222950,1.000,0.091,70002027221203000009
2045,20221203230801309,1m0dnmb2pm,Sale,POS0027:998525216,35648,0,M-S1 CBCS1,48,0,0,0,EatIn,2.100,0.00,0.191,0.00,0,20221203,230801,20221203,230909,1.400,0.127,70002027221203000010

In [12]:
import xml.etree.ElementTree as ET
import pandas as pd

# Load the XML file
tree = ET.parse('3.xml')
root = tree.getroot()

# Initialize an empty list to store the extracted tender data
tenders_data = []

# Iterate through all Tender elements
for tender in root.findall(".//Tender"):
    tender_data = {
        'TenderId': tender.findtext('TenderId').strip(),
        'TenderName': tender.findtext('TenderName').strip(),
        'TenderAmount': tender.findtext('TenderAmount').strip()
    }
    tenders_data.append(tender_data)

# Create a pandas DataFrame from the extracted tender data
tenders_df = pd.DataFrame(tenders_data)

# Display the tender DataFrame
display(tenders_df)

     TenderId         TenderName TenderAmount
0          11    Cashless Common        1.700
1          11    Cashless Common        1.700
2          13  CashlesMasterCard        2.500
3          13  CashlesMasterCard        0.700
4           0           Cash BHD       20.000
...       ...                ...          ...
1442       13  CashlesMasterCard        3.300
1443       13  CashlesMasterCard        3.400
1444       13  CashlesMasterCard        1.200
1445       13  CashlesMasterCard        1.000
1446       13  CashlesMasterCard        2.100

[1447 rows x 3 columns]

In [16]:
import xml.etree.ElementTree as ET
import pandas as pd

# Load the XML file
tree = ET.parse('3.xml')
root = tree.getroot()

# Initialize lists to store extracted data
pos_list = []
pod_list = []
check_refund_list = []

# Find all TRX_BaseConfig elements
base_configs = root.findall(".//TRX_BaseConfig")

# Iterate through each TRX_BaseConfig element
for base_config in base_configs:
    pos = base_config.get('POS')
    pod = base_config.get('POD')
    check_refund = base_config.find('Config/CheckRefund').text.strip()
    
    # Append data to respective lists
    pos_list.append(pos)
    pod_list.append(pod)
    check_refund_list.append(check_refund)

# Create a pandas DataFrame
data = {'POS': pos_list, 'POD': pod_list, 'CheckRefund': check_refund_list}
base_config_df = pd.DataFrame(data)

# Display the base config DataFrame
display(base_config_df)

       POS  POD CheckRefund
0  POS0001  DLV           1
1  POS0002   FC           1
2  POS0011  DLV           1
3  POS0012  DLV           1
4  POS0018   DT           1
5  POS0019   DT           1
6  POS0020   DT           1
7  POS0025  CSO           1
8  POS0026  CSO           1
9  POS0027  CSO           1